@import "../../../../theme/colors/index.scss";
@import "../../../../theme/fonts/index.scss";

.hardware {
  // width: 100%;
  
  h1 {
    font-size: $fontSizeForSubHeading;
    font-weight: $fontWeightForSubHeading;
  }
  .steppers {
    margin: 12px 0px;
    background-color: $mainBgColor;
    border-radius: 8px;
    padding: 16px 0px;
    .contents div {
      padding: 8px 16px;
      :first-child {
        color: $textColor;
      }
    }
  }
}
.css-n7tliy-MuiStep-root {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: $boxColor;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-error{
  color: #d32f2f !important;
}
@media (max-width: 375px) {
  .css-qivjh0-MuiStepLabel-label.MuiStepLabel-alternativeLabel {
    font-size: 10px;
  }
}
