@import "../../../../theme/colors/index.scss";
@import "../../../../theme/fonts/index.scss";

.hardware {
  h1 {
    font-size: $fontSizeForSubHeading;
    font-weight: $fontWeightForSubHeading;
  }
  .steppers {
    margin: 12px 0px;
    background-color: $mainBgColor;
    border-radius: 8px;
    padding: 16px 0px;
    .contents div {
      padding: 8px 16px;
      :first-child {
        color: $textColor;
      }
    }
  }
  .nested_card, .accor_drop {
    margin: 12px 0px;
    background-color: $mainBgColor;
    border-radius: 8px;
    padding: 16px 0px;
    h1 {
      font-weight: $fontWeightForText;
    }
    p {
      color: $textColor;
      padding: 2px 12px;
    }
  }
  .css-1elwnq4-MuiPaper-root-MuiAccordion-root:last-of-type{
    width: 100% !important;
  }
}
.accordins {
  display: none !important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: $boxColor !important;
}
@media (max-width: 642px) {
  .nested_card{
      display: none !important;
  }
  .accordins {
    display: inline-block !important;
  }
}
@media (max-width: 375px) {
  .css-qivjh0-MuiStepLabel-label.MuiStepLabel-alternativeLabel {
    font-size: 10px;
  }
}
