@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
$fontFamily: "Poppins", sans-serif;
$fontSizeForHeading: 32px; //for main headings
$fontSizeForSubHeading: 20px; // for sub headings
$fontSizeForText: 16px; //Paragraphs, Button Text, Forms label, Forms placeholder, text input
$fontWeightForHeading: 900;
$fontWeightForSubHeading: 700;
$fontWeightForText: 400;